.nopadding {
    padding: 0px;
}

.btn_font {
    font-size: 30px;
}

body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    color: azure;
    font-size: 30px;
}

#footer {
    padding: 10px;
    text-align: left;
}

p {
    margin-top: 20px;
    color: azure;
    font-size: 1.5rem;
}

.container {
    padding: 30px;
    border: 1px solid grey;
    margin-top: 50px;
    background: whitesmoke;
    box-shadow: 15px 15px #525252;
    border-radius: 10px;
}

#calculation {
    padding: 10px;
    font-size: 30px;
    height: 50px;
}